.city {
    background: #fff5f6;
    padding-top: 132px;
    padding-bottom: 86px;
  
    &__list {
      display: block;
      justify-content: center;
      gap: 20px;
  
      @media screen and (min-width: 768px) {
        gap: 20px;
        display: flex;
      }
  
      @media screen and (min-width: 1280px) {
        gap: 29px;
      }
    }
  
    &__item:nth-child(3) {
      margin-bottom: 0;
    }
  
    &__item {
      width: 100%;
      height: 427px;
      border-radius: 24px;
      background: #fff;
      box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
      justify-content: center;
      padding-top: 43px;
      padding-bottom: 43px;
      padding-left: 20px;
      padding-right: 21px;
      margin-bottom: 20px;
  
      @media screen and (min-width: 768px) {
        width: 220px;
        height: 544px;

        padding-top: 50px;
        padding-bottom: 30px;
        padding-left: 31px;
        padding-right: 32px;
        margin-bottom: 0;
      }
  
      @media screen and (min-width: 1280px) {
        width: 330px;
        height: 572px;
        padding-top: 51px;
        padding-bottom: 50px;
        padding-right: 44px;
        padding-left: 43px;
        margin-bottom: 0;
      }
    }
  
    &__title {
      color: #fff;
      background: #f0d1a5;
      text-align: center;
      font-family: 'DM Sans';
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 186%;
      /* 22.32px */
      letter-spacing: 0.48px;
      width: 80px;
      height: 16px;
      margin-bottom: 25px;
  
      @media screen and (min-width: 768px) {
        width: 73px;
        height: 28px;
        font-size: 16px;
        letter-spacing: 0.64px;
      }
  
      @media screen and (min-width: 1280px) {
        width: 73px;
        height: 28px;
        font-size: 16px;
        letter-spacing: 0.64px;
      }
    }
  
    &__titles {
      color: #fff;
      background: #c2e297;
      text-align: center;
      font-family: 'DM Sans';
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 186%;
      /* 22.32px */
      letter-spacing: 0.48px;
      width: 130px;
      height: 16px;
      margin-bottom: 25px;
  
      @media screen and (min-width: 768px) {
        width: 138px;
        height: 28px;
        font-size: 16px;
        letter-spacing: 0.64px;
      }
  
      @media screen and (min-width: 1280px) {
        width: 138px;
        height: 28px;
        font-size: 16px;
        letter-spacing: 0.64px;
      }
    }
  
    &__sity {
      width: 57.006px;
      color: #000;
      font-family: 'DM Sans';
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 186%;
      /* 22.32px */
      letter-spacing: 0.48px;
  
      @media screen and (min-width: 768px) {
        font-size: 14px;
        letter-spacing: 0.56px;
      }
  
      @media screen and (min-width: 1280px) {
        font-size: 16px;
        letter-spacing: 0.64px;
      }
    }
  
    &__sitys {
      width: 89px;
      color: #000;
      font-family: 'DM Sans';
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 186%;
      /* 22.32px */
      letter-spacing: 0.48px;
  
      @media screen and (min-width: 768px) {
        font-size: 14px;
        letter-spacing: 0.56px;
      }
  
      @media screen and (min-width: 1280px) {
        font-size: 14px;
      }
    }
  
    &__text {
      width: 179px;
      height: 36px;
      color: #907e82;
      font-family: 'DM Sans';
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      margin-bottom: 25px;
  
      @media screen and (min-width: 768px) {
        width: 145px;
        height: 65px;
        font-size: 14px;
        line-height: 166%;
        margin-bottom: 30px;
      }
  
      @media screen and (min-width: 1280px) {
        width: 243px;
        height: 50px;
        font-size: 16px;
        line-height: 183%;
        letter-spacing: 0.64px;
        margin-bottom: 32px;
      }
    }


  
    &__dayz {
      color: black;
      font-family: 'DM Sans';
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 186%;
      margin-top: 25px;
  
      @media screen and (min-width: 768px) {
        font-size: 14px;
        margin-top: 30px;
      }
  
      @media screen and (min-width: 1280px) {
        font-size: 16px;
        letter-spacing: 0.64px;
        margin-top: 32px;
      }
    }

    &__timez {
        width: 161.898px;
        height: 23px;
        color: #ffa5ba;
        font-family: 'DM Sans';
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 186%;
    
        /* 22.32px */
        @media screen and (min-width: 768px) {
          width: 161.898px;
          height: 23px;
          font-size: 14px;
        }
    
        @media screen and (min-width: 1280px) {
          font-size: 16px;
        }
      }
    
      &__dayz {
        color: black;
        font-family: 'DM Sans';
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 186%;
        margin-top: 25px;
    
        @media screen and (min-width: 768px) {
          font-size: 14px;
          margin-top: 30px;
        }
    
        @media screen and (min-width: 1280px) {
          font-size: 16px;
          letter-spacing: 0.64px;
          margin-top: 32px;
        }
      }
    
      &__timez {
        width: 161.898px;
        height: 23px;
        color: #ffa5ba;
        font-family: 'DM Sans';
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 186%;
        margin-bottom: 10px;
    
        /* 22.32px */
        @media screen and (min-width: 768px) {
          width: 161.898px;
          height: 23px;
          font-size: 14px;
          margin-bottom: 16px;
        }
    
        @media screen and (min-width: 1280px) {
          font-size: 16px;
          margin-bottom: 16px;
        }
      }
    
      &__days {
        color: black;
        font-family: 'DM Sans';
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 186%;
    
        @media screen and (min-width: 768px) {
          font-size: 14px;
        }
    
        @media screen and (min-width: 1280px) {
          font-size: 16px;
          letter-spacing: 0.64px;
        }
      }
    
      &__times {
        width: 161.898px;
        height: 23px;
        color: #ffa5ba;
        font-family: 'DM Sans';
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 186%;
        margin-bottom: 25px;
    
        /* 22.32px */
        @media screen and (min-width: 768px) {
          width: 161.898px;
          height: 23px;
          font-size: 14px;
          margin-bottom: 30px;
        }
    
        @media screen and (min-width: 1280px) {
          font-size: 16px;
          margin-bottom: 32px;
        }
      }
    
      &__contacts {
        width: 179px;
        height: 37px;
        color: #907e82;
        font-family: 'DM Sans';
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        margin-top: 25px;
    
        /* 150% */
        @media screen and (min-width: 768px) {
          width: 157px;
          height: 48px;
          font-size: 14px;
          line-height: 183%;
          margin-top: 30px;
        }
    
        @media screen and (min-width: 1280px) {
          width: 243px;
          height: 50px;
          font-size: 16px;
          line-height: 183%;
          margin-top: 32px;
          /* 29.28px */
        }
      }
      &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 54px;
        @media screen and (min-width: 768px) {
          margin-top: 81px;
          
        }
        @media screen and (min-width: 1280px) {
          margin-top: 86px;
          
        }
      }
      &__btnlist {
        flex-direction: column;
        display: block;
        @media screen and (min-width: 768px) {
          flex-direction: row;
          display: flex;
          gap: 14.5px;
        }
        @media screen and (min-width: 1280px) {
          flex-direction: row;
          display: flex;
          gap: 15px;
        }
      }
      &__button {
        width: 161.45px;
        height: 44px;
        flex-shrink: 0;
        border-radius: 22px;
        background: #d41342;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    &__btnlink {
          color: #fff;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'DM Sans';
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            border: none;
            background-color: transparent;
            
    }
    &__btns {
      width: 161px;
        height: 44px;
        border-radius: 22px;
          background: #FFF;
    }
    &__btnlinks {
      width: 80.254px;
        height: 44px;
        color: #D41443;
          text-align: center;
          font-family: "DM Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding-left: 75px;
          border: none;
          background-color: transparent;
    }
  }
