.header_box {
    display: flex; 
    align-items: center;
}

.header {
  position: relative;

    padding-top: 6px;
    padding-bottom: 21px; 
    background: #FFB8CA;
    

    @media screen and (min-width: 768px) {
        padding-bottom: 0px;
        padding-top: 37px;
      }

      @media screen and (min-width: 1280px) {
        padding-bottom: 21px;
      }


    > .container {
        padding-left: 20px;
        padding-right: 20px;

        @media screen and (min-width: 768px) {
            padding-left: 34px;
            padding-right: 34px;
          }

          @media screen and (min-width: 1280px) {
            padding-left: 46px;
            padding-right: 115px;
          }
    }


    &__images {
      width: 200px;
      height: 50px;
      animation: pulseScale 1.5s infinite alternate ease-in-out;
  }
  
  @keyframes pulseScale {
      0% {
          transform: scale(1);
      }
      100% {
          transform: scale(1.1);
      }
  }

    &__list {
        display: none;
        align-items: center;
        gap: 35px;
        margin-left: 110px;

        @media screen and (min-width: 768px) {
            display: none;
        }

        @media screen and (min-width: 1280px) {
            display: flex;
        }

    }
    &__item {
      color: #FFF;
      font-family: "DM Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      transition: transform 0.3s ease-in-out;
      animation: gentleSwing 1s ease-in-out infinite alternate;
  }

  &__item:hover {
    color: #D41443;
  }
  
  
  @keyframes gentleSwing {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(2deg);
      }
  }
  

    &__item:first-child {
      color: #D41443;
    }


    &__button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin-left: auto;
        transform: scale(1.2);


        @media screen and (min-width: 768px) {
            display: block;
            margin-left: 291px;
          }

          @media screen and (min-width: 1280px) {
            display: none;
          }
    }

    &__menu {
        width: 20px;
        height: 12px;

    }

    &__wraps {
        margin-left: auto;
        display: none;

        

        @media screen and (min-width: 768px) {
            display: flex;
          }

          @media screen and (min-width: 1280px) {
            display: flex;
          }
    }

    &__btns {
        color: #D41443;
        text-align: center;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 159px;
        height: 44px;
        flex-shrink: 0;
        border-radius: 22px;
        background: #FFF;
        border: none;
        cursor: pointer;
        transition: background-color 0.4s ease, color 0.4s ease;
        animation: shadowPulse 1.5s infinite alternate;
    }

    @keyframes shadowPulse {
      0% {
          box-shadow: 0 0 0px rgba(212, 20, 67, 0);
      }
      100% {
          box-shadow: 0 0 15px rgba(212, 20, 67, 0.6);
      }
    }

    &__btns:hover,
    &__btns:focus {
      background-color: #D41443;
      color: #FFF;
    }

    &__buttons {
      width: 80.717px;
      height: 44px;
      width: 186px;
      height: 44px;
      flex-shrink: 0;
      border-radius: 22px;
      background: #FFF;
      border: none;
      color: #D41443;
      text-align: center;
      font-family: "DM Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      cursor: pointer;
    }

    &__lists {
      margin-top: 19px;
    }
    
    &__boxes {
      padding-top: 11px;
      padding-bottom: 13px;
      border-top: 2px solid #E18298;
    }

    &__boxes:last-child {
      border-bottom: 2px solid #E18298;
    }



    &__link {
      color: #FFF;
      font-family: "DM Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

}




























.header__button {
  border: none;

  

  @media screen and (min-width:1280px) {
    display: none;
  }
}
.header__menu {
  width: 40px;
    height: 60px;


}
.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 254px;
  height: 1020px;

  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  padding-left: 24px;
  padding-right: 34px;
  padding-top: 60px;
  opacity: 1;

  z-index: 2;
  background: #E17992;

  transition: 0.4s ease;

  


  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }


}





.is-hidden {
  opacity: 0;
  pointer-events: none;

}


.menu__btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 23px;
  right: 34px;
}

.menu__close {
  width: 40px;
  height: 40px;


}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.menu__link {
  color: #FFF;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 1.17;
}


.ssw {
  position: absolute;
  bottom: 50px;
  
}

.menu__list-contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: linear-gradient(92deg, #C0B7E8 -1.02%, #8176AF 36.25%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

margin-bottom: 64px;
}
.menu__link-contact {
  
    font-size: 24px;
    font-weight: 500;
    line-height: 1.08;
    letter-spacing: 0.48px;
    
}
.menu__item-contact:first-child > 
.menu__link-contact {

    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.68px;
}

.menu__item-contact:last-child > .menu__link-contact {

    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.48px;
}


.menu__list-social {
  display: flex;

}

.menu__link-social {

  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: .36px;
}


.menu__item-social:not(:last-child) {
  margin-right: 10px;
  display: flex;
}


.menu__item-social:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 22px;

  margin-left: 10px;
}


    .header__buto {
      color: #FFF;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 13px 20px;
      border-radius: 40px;
      border: 2px solid #FFF;
      background-color: transparent;
      transition: transform 0.4s ease;

      &:hover,
      &:focus {
          transform: scale(1.1);
      }
  }

  .header__bur {
      color: #343045;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      padding: 13px 20px;
      line-height: normal;
      border-radius: 40px;
      transition: transform 0.4s ease;
      background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);

      &:hover,
      &:focus {
          transform: scale(1.1);
      }


  }


  #buttons.show {
    opacity: 1;
    visibility: visible;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E17992;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    transform: rotate(1turn);
    font-size: 28px; /* Размер стрелки */
    color: #FFF;    /* Цвет стрелки */
    line-height: 50px; /* Центрирование стрелки по вертикали */

    @media screen and (min-width: 768px) {
      bottom: 30px;
      right: 30px;
      width: 50px;
      height: 50px;
      font-size: 40px; 
    }
  
    @media screen and (min-width: 1280px) {

    }
  
}


#buttons:hover {
    background-color: #D16C84; /* Цвет фона при наведении */
}

#buttons:focus {
    outline: none; /* Убираем обводку при фокусе */
}
