.milk {
    padding-top: 125px;
    padding-bottom: 40px;
    background: #FFF5F6;


    background-image: url(../../img/sectionbg1.png);
    background-repeat: no-repeat;
    background-position: center calc(100% - 250px);
    background-size: 100%;


    
    @media screen and (min-width: 768px) {
        font-size: 26px; 
        background-image: none;

    }

    @media screen and (min-width: 1280px) {
        background-image: url(../images/kolhoznilk.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-position: center calc(100% + 50px); // Сдвиг ниже

    
        
    }



    &__title {
        color: #FFA5BA;
        text-align: center;
        font-family: "Titan One";
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        margin-bottom: 15px;


        @media screen and (min-width: 768px) {
            font-size: 26px; 


        }

        @media screen and (min-width: 1280px) {
            font-size: 30px;

            
        }
    }


   &__subtitle {
    color: #D41443;
text-align: center;
font-family: "Titan One";
font-size: 34px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.36px;
text-transform: uppercase;





@media screen and (min-width: 768px) {
    font-size: 48px; 
    letter-spacing: 1.92px;

}

@media screen and (min-width: 1280px) {
    font-size: 58px;
    letter-spacing: 3.48px;

    
}
}
    


   &__wrap {
display: block;
gap: 46px;





@media screen and (min-width: 768px) {

    display: flex;
justify-content: center;
align-items: flex-start;
    gap: 17px;
    flex-direction: row;
}

@media screen and (min-width: 1280px) {
gap: 74px;
margin-top: 55px;
align-items: center;

    
}

   }

   &__wrapej {
    display: flex;
    justify-content: center;
   }


   &__img{

    width: 280px;
    height: 279px;




    @media screen and (min-width: 768px) {
        width: 340px;
height: 339px;
margin-top: 50px;
    }
    
    @media screen and (min-width: 1280px) {
        width: 516px;
        height: 516px;

        margin-top: 0;
        
    }
   }


   &__wrapper {
    width: 100%;
    


    @media screen and (min-width: 768px) {
    margin-top: 100px;
    
    }
    
    @media screen and (min-width: 1280px) {
        margin-top: 0;
    }

   }

   &__item {
    display: flex;
    justify-content: center;



    
    @media screen and (min-width: 768px) {
display: block;
    }
    

   }

   &__text {
    color: #000;
font-family: "DM Sans";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 176%; /* 28.16px */
letter-spacing: 0.64px;
margin-bottom: 35px;
width: 235px;







@media screen and (min-width: 768px) {
    font-size: 14px; 
    width: 340px;

}

@media screen and (min-width: 1280px) {
    font-size: 16px;
    width: 463px;
    
}


   }

   &__subtext {
    color: #907E82;
font-family: "DM Sans";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 194%; /* 27.16px */
letter-spacing: 0.56px;
width: 235px;




@media screen and (min-width: 768px) {
    font-size: 14px; 
    width: 340px;

}

@media screen and (min-width: 1280px) {
    font-size: 16px;
    width: 463px;
    
}


   }

&__kolhoz {
    color: #907E82;
font-family: "DM Sans";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 194%; /* 27.16px */
letter-spacing: 0.56px;
width: 463px;
margin-top: 30px;
margin-bottom: 45px;
width: 235px;



@media screen and (min-width: 768px) {
    font-size: 14px; 
    width: 340px;

}

@media screen and (min-width: 1280px) {
    font-size: 16px;
    width: 463px;
    
}

}


   &__btn {
    color: #D41443;
text-align: center;
font-family: "DM Sans";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-left: 46px;
padding-right: 34px;
padding-top: 19px;
padding-bottom: 17px;
border-radius: 22px;
background: #FFF;
border: none;
   }



}