.tell{
    padding-bottom: 80px;
    background: linear-gradient(to bottom, #FFF5F6 25.7%, white 25.7%);




    @media screen and (min-width: 768px) {
        background: linear-gradient(to bottom, #FFF5F6 30.5%, white 30.5%);
    }



@media screen and (min-width: 1280px) {
    background: linear-gradient(to bottom, #FFF5F6 31%, white 31%);
    padding-bottom: 122px;
    }


    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__button {
        border: none;
        padding: 0px;
        cursor: pointer;
    }

    &__img {
        width: 100%;
        height: 100%;
        border: none;


        @media screen and (min-width: 768px) {
            width: 786px;
            height: 264px;  
        }


    
 @media screen and (min-width: 1280px) {
           width: 1280px;
            height: 430px;  
        }
    }
}


