address {
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: "DM" sans-serif;
  color: var(--head-text);
  background-image: url(../../img/elipse.png);
  background-position: top;
  background-repeat: no-repeat;
}

.header_box {
  display: flex;
  align-items: center;
}

.header {
  padding-top: 37px;
  padding-bottom: 21px;
  background: #FFB8CA;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-left: 110px;
}
.header__item {
  color: #FFF;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header__wrap {
  margin-left: auto;
}
.header__btn {
  color: #D41443;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 159px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 22px;
  background: #FFF;
  border: none;
}

.hero {
  padding-bottom: 52px;
  padding-top: 63px;
  background: #FFB8CA;
  background-image: url(../img/milksbig.png), url(../../img/icecreamlaptop.png);
  background-position: 180px, 790px;
  background-repeat: no-repeat;
  background-position-y: 321px, 0px;
  background-size: 188px 191px, 236px 557px;
}
.hero__text {
  color: #FFF;
  font-family: "Titan One";
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.52px;
  text-transform: uppercase;
  width: 277px;
  margin-bottom: 25px;
}
.hero__span {
  color: #D41443;
  font-family: "Titan One";
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: 90.5%;
  letter-spacing: 2.32px;
  text-transform: uppercase;
}
.hero__list {
  display: flex;
  align-items: center;
  gap: 17px;
}
.hero__btn {
  color: #FFF;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  background-color: #D41443;
  display: flex;
  padding: 11px 24px;
  border-radius: 40px;
  border: none;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.hero__button:last-child > .hero__btn {
  color: #D41443;
  text-align: center;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #FFF;
  display: flex;
  padding: 11px 20px;
  border-radius: 40px;
  border: none;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.hero__wraps {
  margin-top: 112px;
  margin-left: 180px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero__caption {
  color: #FFF;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  width: 200px;
  height: 78px;
  flex-shrink: 0; /* 19.6px */
}
.hero__img {
  width: 26px;
  height: 26px;
  flex-shrink: 0;
}/*# sourceMappingURL=main.css.map */