
    <div class="backdrop is-hidden"  data-modal>
        <div class="backdrop__modal ">
            <h2 class="backdrop__text">Your order</h2>
            <ul class="backdrop__list">
                <li class="backdrop__item">
                    <img src="./img/pinkstraw.png" alt="" class="backdrop__picture">
                    <div>
                    <p class="backdrop__caption">Vanilla strawberry ice cream</p>
                    <p class="backdrop__price">$4.25</p>
                    <div class="backdrop__wrap">
                        <p class="backdrop__label">Quantity:</p>
                        <input type="text" class="backdrop__input">
                    </div>
                    </div>
                </li>
                <li class="backdrop__item">
                    <img src="./img/yellow.png" alt="" class="backdrop__picture">
                    <div>
                    <p class="backdrop__caption">Columbia ice coffee</p>
                    <p class="backdrop__price">$4.25</p>
                    <div class="backdrop__wrap">
                        <p class="backdrop__label">Quantity:</p>
                        <input type="text" class="backdrop__input">
                    </div>
                    </div>
                </li>
                <li class="backdrop__item">
                    <img src="./img/greentablet.png" alt="" class="backdrop__picture">
                    <div>
                    <p class="backdrop__caption">Сhocolate milkshakes</p>
                    <p class="backdrop__price">$4.25</p>
                    <div class="backdrop__wrap">
                        <p class="backdrop__label">Quantity:</p>
                        <input type="text" class="backdrop__input">
                    </div>
                    </div>
                </li>
            </ul>
            <ul class="backdrop__listing">
                <li class="backdrop__box">
                    <p class="backdrop__texting">Amount:</p>
                    <input type="text" class="backdrop__result">
                </li>
                <li class="backdrop__box">
                    <p class="backdrop__texting">Total:</p>
                    <input type="text" class="backdrop__result">
                </li>
            </ul>
            <ul class="backdrop__wrapers">
                <li>
                    <button type="button" class="backdrop__buttons" >Calculate</button>
                </li>
                <li>
                    <button type="button" class="backdrop__buttons" >Next  ></button>
                </li>
            </ul>
            <button type="button" class="backdrop__closee" data-modal-close>
            <img src="./img/closes.png" alt="" class="backdrop__imgss">
          </button>
        </div>
      </div>

      
<script type="module" src="/main.js"></script>