<section class="city">
    <div class="container">
        <ul class="city__list">
            <li class="city__item">
                <h2 class="city__title">CAFE</h2>
                <p class="city__sity">Chicago</p>
                <p class="city__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="234" height="2" viewBox="0 0 234 2" fill="none">
                    <path d="M0 1H234" stroke="#E1E1E1" />
                </svg>
                <p class="city__dayz">Monday - Friday</p>
                <p class="city__timez">06:00 AM - 10:00 PM</p>
                <p class="city__days">Saturday - Sunday</p>
                <p class="city__times">08:00 AM - 16:00 PM</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="234" height="2" viewBox="0 0 234 2" fill="none">
                    <path d="M0 1H234" stroke="#E1E1E1" />
                </svg>
                <p class="city__contacts">+61(0) 383 766 284 noreply@envato.com</p>
            </li>

            <li class="city__item">
                <h2 class="city__titles">FOOD TRUCK</h2>
                <p class="city__sitys">Los Angeles</p>
                <p class="city__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="234" height="2" viewBox="0 0 234 2" fill="none">
                    <path d="M0 1H234" stroke="#E1E1E1" />
                </svg>
                <p class="city__dayz">Monday - Friday</p>
                <p class="city__timez">06:00 AM - 10:00 PM</p>
                <p class="city__days">Saturday - Sunday</p>
                <p class="city__times">08:00 AM - 16:00 PM</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="234" height="2" viewBox="0 0 234 2" fill="none">
                    <path d="M0 1H234" stroke="#E1E1E1" />
                </svg>
                <p class="city__contacts">+61(0) 383 766 284 noreply@envato.com</p>
            </li>
            <li class="city__item">
                <h2 class="city__title">CAFE</h2>
                <p class="city__sitys">New York</p>
                <p class="city__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="234" height="2" viewBox="0 0 234 2" fill="none">
                    <path d="M0 1H234" stroke="#E1E1E1" />
                </svg>
                <p class="city__dayz">Monday - Friday</p>
                <p class="city__timez">06:00 AM - 10:00 PM</p>
                <p class="city__days">Saturday - Sunday</p>
                <p class="city__times">08:00 AM - 16:00 PM</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="234" height="2" viewBox="0 0 234 2" fill="none">
                    <path d="M0 1H234" stroke="#E1E1E1" />
                </svg>
                <p class="city__contacts">+61(0) 383 766 284 noreply@envato.com</p>
            </li>

        </ul>

        <div class="city__buttons">
            <ul class="city__btnlist">
                <li class="city__button">
                    <button type="button" class="city__btnlink" data-modal-map-open>Our Locations >
                        <svg class="city__svg" width="8" height="10">
                            <use href="#"></use>
                        </svg></button>
                </li>
                <li class="city__btns">
                    <button type="button" class="city__btnlinks" data-modal-formss-open>Franchise >
                        <svg class="city__svgs" width="8" height="10">
                            <use href="#"></use>
                        </svg></button>
                </li>
            </ul>
        </div>

    </div>
</section>