
<div class="backdrop is-hidden" data-modal-krem>
    <div class="backdrop__modalsek ">
        <p class="backdrop__describ">The best you've ever had</p>
        <div class="backdrop__wrapslid"> 
        <ul class="backdrop__lsit">
            <li><img src="./img/pinkstraw.png" alt="" class="backdrop__creamscolor backdrop__none"></li>
            <li><img src="./img/yellow.png" alt="" class="backdrop__creamscolor"></li>
            <li><img src="./img/greenchocolate.png" alt="" class="backdrop__creamscolor backdrop__none"></li>
        </ul>
        </div>
        <p class="backdrop__lorem">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut provident tempore assumenda molestiae explicabo. Commodi temporibus optio.</p>
        <button type="button" class="backdrop__buttonbuy" data-modal-open>Want it!</button>
        <button type="button" class="backdrop__closee" data-modal-krem-close>
        <img src="./img/closes.png" alt="" class="backdrop__imgss">
      </button>
    </div>
  </div>

  
  <script type="module" src="/main.js"></script>