<section class="header">
    <div class="container header_box">
    <a href=""><img src="../img/logoicecream.png" alt=""></a>
    <nav class="header__nav">
        <ul class="header__list">
            <li class="header__item">Home</li>
            <li class="header__item">About us</li>
            <li class="header__item">How it’s made?</li>
            <li class="header__item">Our products</li>
            <li class="header__item">Contact</li>
        </ul>
    </nav>
    <div class="header__wrap">
    <button type="button" class="header__btn">Buy now img  ></button>
    </div>
    </div>
</section>

