<header class="header" id="buttonss">
    <div class="container header_box">
    <a href=""><img src="./img/logoicecream.png" alt="" class="header__images"></a>
    <nav class="header__nav">
        <ul class="header__list">
            <li class="header__item">Home</li>
            <li class="header__item">About us</li>
            <li class="header__item">How it’s made?</li>
            <li class="header__item">Our products</li>
            <li class="header__item">Contact</li>
        </ul>
    </nav>
    <button type="button" class="header__button" data-modal-header-open>
        <img src="./img/burgertime.png" alt="">
      </button>
          <div class="header__wraps">
            <button type="button" class="header__btns" data-modal-open>Buy now ></button>
        </div>
        
      <div class="menu is-hidden" data-header-modal>
        <button type="button" class="menu__btn" data-modal-header-close >
            <img src="./img/closes.png" alt="" class="header__logobur">
        </button>
        <button type="button" class="header__buttons" data-modal-open>Buy now ></button>
        <ul class="header__lists">
            <li class="header__boxes"><a href="" class="header__link">Home</a></li>
            <li class="header__boxes"><a href="" class="header__link">About us</a></li>
            <li class="header__boxes"><a href="" class="header__link">How it’s made?</a></li>
            <li class="header__boxes"><a href="" class="header__link">Our products</a></li>
            <li class="header__boxes"><a href="" class="header__link">Contact</a></li>
        </ul>
    </div>


    </div>
    <a href="#buttonss" id="buttons" class="show">⇧</a>

</header>

<script type="module" src="/main.js"></script>

