<section id="howmade" class="milk">
    <div class="container">
    <h2 class="milk__title">tradition and love </h2>
    <h3 class="milk__subtitle">how it’s made?</h3>
    <div class="milk__wrap">
    <div class="milk__wrapej">
    <img src="./images/corova.png" alt="" class="milk__img">
    </div>
    <ul class="milk__wrapper">
        <li class="milk__item"><p class="milk__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p></li>
        <li class="milk__item"><p class="milk__subtext">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p></li>
        <li class="milk__item"><p class="milk__kolhoz">Aliquam erat volutpat. Aenean accumsan.</p></li>
        <li class="milk__item"><button class="milk__btn"  data-modal-milk-open>Read more  ></button></li>
    </ul>
</div>
</div>

</section>