<section class="picture">
    <div class="container">
        <div class="picture__wrap">
        <img src="./img/womantell.png" alt="">
       </div>
       <div class="picture__item">
        <p class="picture__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
       </div>
       <ul class="picture__list">
        <li><img src="./img/redpoint.png" alt="" class="picture__img"></li>
        <li><p class="picture__caption">Emily, Los Angeles</p></li>
        <li><img src="./img/house.png" alt="" class="picture__img"></li>
       </ul>
    </div>
</section>