
<div class="backdrop is-hidden" data-modal-map>
    <div class="backdrop__modalsekd ">
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d52221.57748873122!2d-73.98045126966979!3d40.72299603971396!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1739548192270!5m2!1sru!2sua" width="600" height="450" class="backdrop__mapss" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <button type="button" class="backdrop__closee" data-modal-map-close>
        <img src="./img/closes.png" alt="" class="backdrop__imgss">
      </button>
    </div>
  </div>

  
  <script type="module" src="/main.js"></script>