
<div class="backdrop is-hidden" data-modal-map>
    <div class="backdrop__modalsekd ">
      <iframe 
      src="https://www.openstreetmap.org/export/embed.html?bbox=-73.9876,40.7127,-73.9813,40.7167&layer=mapnik"  
      class="backdrop__mapss" 
      allowfullscreen="" 
      loading="lazy">
    </iframe>
    
  
        <button type="button" class="backdrop__closee" data-modal-map-close>
        <img src="./img/closes.png" alt="" class="backdrop__imgss">
      </button>
    </div>
  </div>

  

  
  <script type="module" src="/main.js"></script>