
<div class="backdrop is-hidden"  data-modal-second>
    <div class="backdrop__modals ">
        <form>
            <p class="backdrop__p">Please fill out the form so that we can contact you to place an order</p>
            <label class="backdrop__labelina">
                <span class="backdrop__s">Name</span>
                <input type="text" placeholder="Jhon Smith" class="backdrop__pasha" required>
            </label>
            <label class="backdrop__labelina">
                <span class="backdrop__s">Phone number</span>
                <input type="text" placeholder="+61 (0) 383 766 284" class="backdrop__pasha" required>
            </label>
            <label class="backdrop__labelina">
                <span class="backdrop__s">E-mail</span>
                <input type="email" placeholder="E-mail" class="backdrop__pasha" required>
            </label>
            <label class="backdrop__labelina">
                <span class="backdrop__s">Comments</span>
                <input type="text" placeholder="Input your commnets" class="backdrop__pashas" required>
            </label>
            <label class="backdrop__checkbox"> 
                <input class="backdrop__labelss" type="checkbox" name="policy" value="reading"> 
                <span class="backdrop__icons"></span> 
                <span class="backdrop__texst">Вам исполнилось 16 лет?</span> 
                <a class="backdrop__links" href="">Contract terms</a> </label>
                <button type="button" class="backdrop__buttondss" data-modal-open-third>Send</button>

        </form>
        <button type="button" class="backdrop__closee" data-modal-close-second>
        <img src="./img/closes.png" alt="" class="backdrop__imgss">
      </button>
    </div>
  </div>

  
  <script type="module" src="/main.js"></script>