
<div class="backdrop is-hidden" data-modal-milk>
    <div class="backdrop__modalsek ">
        <p class="backdrop__describs">Ice Cream Cone</p>
        <p class="backdrop__lorems">The ice cream cone would seem to be a simple and unpolitical a treat, yet it's origin is hotly contested. The most favored folk tale regarding the invention of the ice cream cone takes place at the 1904 World's Fair held in St. Louis, Missouri. Two food vendors had stalls next to each other. Arnold Fornachou made and sold ice cream. His neighbor, Ernest A. Hamwi, had come to the United States from Damascus, Syria.</p>
        <button type="button" class="backdrop__closee" data-modal-milk-close>
        <img src="./img/closes.png" alt="" class="backdrop__imgss">
      </button>
    </div>
  </div>

  
  <script type="module" src="/main.js"></script>