
<div class="backdrop is-hidden" data-modal-third>
    <div class="backdrop__modalse ">
        <div class="checkmark-container">
            <div class="checkmark">✓</div>
        </div>
        <div class="message">Успешно куплено мороженое!</div>
        <form>
        <button type="button" class="close" data-modal-close-third>Закрыть</button>
        </form>
        <button type="button" class="backdrop__closee" data-modal-close-third>
        <img src="./img/closes.png" alt="" class="backdrop__imgss">
      </button>
    </div>
  </div>

  
  <script type="module" src="/main.js"></script>