<section>
  <h2 hidden >text</h2>
<div class="backdrop is-hidden" data-modal-photos>
    <div class="backdrop__modalsekds ">
        <div class="backdrop__boxex">
        <ul class="backdrop__listsscrolr">
            <li><img src="./img/pinksscrols.jpg" alt="" class="backdrop__sccrolsphot"></li>
            <li><img src="./img/secondgallery.jpg" alt="" class="backdrop__sccrolsphot"></li>
            <li><img src="./img/thirstgalery.jpg" alt="" class="backdrop__sccrolsphot"></li>
            <li><img src="./img/fourgalery.jpg" alt="" class="backdrop__sccrolsphot"></li>
            <li><img src="./img/fivegalery.jpg" alt="" class="backdrop__sccrolsphot"></li>
            <li><img src="./img/sixgalery.jpg" alt="" class="backdrop__sccrolsphot"></li>
            <li><img src="./img/sevengalery.jpg" alt="" class="backdrop__sccrolsphot"></li>
            <li><img src="./img/eightgalery.jpg" alt="" class="backdrop__sccrolsphot"></li>
            <li><img src="./img/ninegalery.jpg" alt="" class="backdrop__sccrolsphot"></li>
        </ul>
        </div>



        <ul class="backdrop__control">
            <li><button type="button" class="backdrop__circle"></button></li>
            <li><button type="button" class="backdrop__circle"></button></li>
            <li><button type="button" class="backdrop__circle"></button></li>
            <li><button type="button" class="backdrop__circle"></button></li>
            <li><button type="button" class="backdrop__circle"></button></li>
            <li><button type="button" class="backdrop__circle"></button></li>
            <li><button type="button" class="backdrop__circle"></button></li>
            <li><button type="button" class="backdrop__circle"></button></li>
            <li><button type="button" class="backdrop__circle"></button></li>
        </ul>
        <button type="button" class="backdrop__closee" data-modal-photos-close>
        <img src="./img/closes.png" alt="" class="backdrop__imgss">
      </button>
    </div>
  </div>
</section>

  
  <script type="module" src="/main.js"></script>