<section class="products">
    <div class="container">
        <h2 class="products__text">100% natural</h2>
        <p class="products__caption">products</p>

        <ul class="products__list">
            <li class="products__item">
                <h3 class="products__head">ice cream</h3>
                <div class="products__images">
                <img src="./img/pointsss.png" alt="">
                </div>
                <div class="products__wrap">
                <p class="products__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                </div>
                <div class="products__wrap">
                <button type="button" class="products__button"><img src="./img/arrowrights.png" alt="" class="products__btn"></button>
                </div>
            </li>
            <li class="products__item">
                <h3 class="products__head">ice coffee</h3>
                <div class="products__images">
                <img src="./img/pointsss.png" alt="">
                </div>
                <div class="products__wrap">
                <p class="products__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                </div>
                <div class="products__wrap">
                <button type="button" class="products__button"><img src="./img/arrowrights.png" alt="" class="products__btn"></button>
                </div>
            </li>
            <li class="products__item">
                <h3 class="products__head">milkshakes</h3>
                <div class="products__images">
                <img src="./img/pointsss.png" alt="">
                </div>
                <div class="products__wrap">
                <p class="products__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                </div>
                <div class="products__wrap">
                <button type="button" class="products__button"><img src="./img/arrowrights.png" alt="" class="products__btn"></button>
                </div>
            </li>
        </ul>
    </div>
</section>