<section class="weight">
  <div class="container">
    <ul class="weight__list">
      <li class="weight__item">
        <img src="./images/koktel.png" alt="weight" class="weight__img">
        <h2 class="weight__title">721</h2>
        <p class="weight__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="weight__item">
        <img src="./images/frut.png" alt="kilo" class="weight__img">
        <h2 class="weight__title">16kg</h2>
        <p class="weight__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="weight__item">
        <img src="./images/heart.png" alt="heart" class="weight__img">
        <h2 class="weight__title">84</h2>
        <p class="weight__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
